 .card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;        
    gap: 10px; 
    margin-top: 50px;          
}
.top-section {

    align-items: center; 
    flex-direction: column;   
    gap: 2px;            
    
}