
.layout {
  display: flex;
  height: 100vh;
  /* background: #f5f6fa; */
  padding: 20px;
}


.sidebar {
  position: fixed;
  top: 20px;
  left: 20px;

  width: 260px; 
  height:95%;

  background: #ffffff;
  border-radius: 20px;
  padding: 25px 20px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  color: black;
  padding: 10px 12px;
  border-radius: 10px;
  transition: 0.2s ease;
}


.nav-item:hover {
  background: #f0f2f5;
}

.nav-item.active {
  background-color: black;
  color: white;
}

.content {
  /* display: flex; */
  margin-left: 300px; 
  flex: 1;
  min-height: 100vh;
}
/* 
.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
} */
.nav-item p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.logout-item {
  margin-top: auto;
}